.cantidad-usuarios {
    font-size: x-small;
    font-weight: bold;
    font-style: italic;
}

ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;

}
ion-item{
    --padding-bottom: 10px;
}

.background {
    --background: url('/assets/img/palacio.jpg') no-repeat center/cover fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-sistem h2 {
    background-color: #020B25;
    border-radius: 15px;
    color: #FFFF;
}


.welcome h2{
    color: #FFFFFF;
    background-color: #df973a;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}

.correo {
    margin-top: 10px;
    margin-bottom: 10px;
    --background: #333333;
    border-radius: 15px;
    ion-label {
        --color: #FFFF;
    }
    ion-input {
        --color: #FFFF;
    }
}

.login {
    --background: #020B25;
    border-radius: 15px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    align-content: center;
}

.password {
    border-radius: 15px;
    --background: #333333;
    ion-label {
        --color: #FFFF;
    }
    ion-input {
        --color: #FFFF;
    }
}

.recuperar-pass{
    margin-left: auto;
    font-family: 'Calibri';
    text-align: center;
    font-size: 15px;
    color: white;
    margin-right: auto;
}

a {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#container {
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    --ion-safe-area-bottom: 22px;
    --ion-safe-area-top: 20px;
    margin-top: 10px;
    --background: url('/assets/img/borroso.png') no-repeat center/cover fixed;
    background: transparent;
}

.filter {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    --ion-toolbar-background: rgba(243, 243, 242, 0.2);
    color: white;
    font-family: 'Calibri';
    background-color: rgba(243, 243, 242, 0.2);;
}

.filter-label {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    font-family: 'Calibri';
    background-color: rgba(243, 243, 242, 0);;
}

.titulo {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 1rem;
    text-align: center;
    font-size: x-large;
    color: #020B25;
    font-weight:bolder
    ;
}

.logo{
    width: 30%;
    margin-left: 1rem;
    margin-right: auto;
    margin-bottom: 7px;
}

#container1 {
    border-radius: 6px;
    --ion-safe-area-bottom: 22px;
    --ion-safe-area-top: 20px;
    margin-top: 50px;
    --background: url('/assets/img/borroso.png') no-repeat center/cover fixed;
    color: white;
    background: transparent;
}

.filter1 {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    --ion-toolbar-background: rgba(243, 243, 242, 0.2);
}

.title-inputs{
    font-family: 'Source Sans Pro', sans-serif;
    color: #020B25;
}

#container2 {
    border-radius: 6px;
    --ion-safe-area-bottom: 22px;
    --ion-safe-area-top: 20px;
    margin-top: 10px;
    --background: url('/assets/img/borroso.png') no-repeat center/cover fixed;
    background: transparent;
}