.header {
    --ion-toolbar-background: white;
}

.logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
}

.titulo {
    font-family: 'Calibri';
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.background{
    --background: url('/assets/img/asistencia.jpg') no-repeat center/cover fixed;
    background-attachment: fixed;
    background-size: cover;
    //overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    
}


#container {
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    --ion-safe-area-bottom: 22px;
    --ion-safe-area-top: 20px;
    margin-top: 40px;
    --background: url('/assets/img/borroso.png') no-repeat center/cover fixed;
}

.filter {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    --ion-toolbar-background: rgba(243, 243, 242, 0.2);
}

.subtitulo{
    font-family: 'Calibri';
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.boton {
    --ion-toolbar-background: white;
    --background: #020B25;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.input {
    --ion-toolbar-background: white;
    --background: #020B25;
    --highlight-background: rgb(107, 197, 107);
    color: white;
}

.cerrarsesion{
    --ion-toolbar-background: white;
    --background: #df973a;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.bienvenido{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 22px;
}

.segmento{
    background-color: #000;
}

// ion-content:host::after {
//     --background: var(--ion-background-color, red) !important; // or whatever color you want
// }

:root {
    --background-color: transparent !important;
    background: transparent;
    --color: var(--ion-text-color, #000);
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --keyboard-offset: 0px;
    --offset-top: 0px;
    --offset-bottom: 0px;
    --overflow: auto;
    display: block;
    position: relative;
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    font-family: var(--ion-font-family, inherit);
    contain: size style;
    margin: 0px !important;
    padding: 0px !important;
}
