<ion-header>
  <ion-toolbar>
    <img src="assets/img/logo.png" class="logo">
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Eliminación de usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <a id="topOfPage" href="#topOfPage"></a>
 
  <ion-card class="card" *ngFor="let u of usuarios; let i=index; trackBy: getUserId">

    <ion-card-header>
      <h4 class="name" >{{u.nombreUsuario}}</h4>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col class="title-inputs" size="6">Correo</ion-col>
          <ion-col size="6">{{u.correo}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-inputs" size="6">Contraseña</ion-col>
          <ion-col size="6">*********</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-inputs" size="6">Pregunta secreta</ion-col>
          <ion-col size="6">{{u.preguntaSecreta}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-inputs" size="6">Respuesta secreta</ion-col>
          <ion-col size="6">*********</ion-col>
        </ion-row>
      </ion-grid>

      <ion-button class="boton-edit" (click)="eliminarUsuario(u)">
        Eliminar Usuario<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      
    </ion-card-content>

    <!-- <ion-button (click)="editarUsuario(u)">
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button> -->



  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="btn_volver" (click)="volver()" expand="block" fill="clear" shape="round">
      Volver
    </ion-button>
  </ion-toolbar>
</ion-footer>