<ion-card-content>
  <div class="scan-box" [hidden]="escaneando"></div>
  <ion-img src="../../../assets/img/qr-code.png" [hidden]="escaneando"></ion-img>
    <ion-button class="ion-text-center boton" expand="full" (click)="comenzarEscaneo()" [hidden]="escaneando">
      Escanear código QR
    </ion-button>
    <div class="scan" [hidden]="!escaneando"><div class="qrcode" [hidden]="!escaneando"></div></div>
    <ion-button class="ion-text-center boton" expand="full" (click)="detenerEscaneo()" [hidden]="!escaneando">
      Detener escaneo de código QR
    </ion-button> 

    <ion-button class="ion-text-center boton" (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
      <ion-icon slot="start" name="camera"></ion-icon>
      Cargar Imagen con Código QR
    </ion-button>

    <canvas #canvas hidden></canvas>
    <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" 
    (change)="verificarArchivoConQR($event.target.files)" />
    
    <ion-row>
      <ion-col size="12">
        <ion-button class="cerrarsesion" shape="block" (click)="salir()">Cerrar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
