<ion-content [fullscreen]="true" class="background">
  <ion-card id="container" class="filter">
    <ion-header>
      <ion-toolbar>
        <img src="assets/img/logo.png" class="logo">
        <ion-title class="titulo">
          <h2>Sistema de Asistencia</h2>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-card>
  <ion-card-title class="ion-text-center">
    <ion-item id="container1" class="filter">
      <ion-label position="stacked" class="title-inputs">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="correo" placeholder="Ingrese su correo" class="title-inputs"></ion-input>
    </ion-item>
    <ion-item id="container2" class="filter">
      <ion-label position="stacked" class="title-inputs">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Ingrese su contraseña" class="title-inputs"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col size="12">
        <ion-button class="login" shape="block" (click)="ingresar()">Ingresar</ion-button>
        <ion-button class="login" shape="block" (click)="registrar()">Registrarse</ion-button>
        <ion-button class="login" shape="block" (click)="eliminar()">Eliminar Cuenta</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-title>
    <ion-label>
      <a class="a" (click)="recuperar()">Recuperar contraseña</a>
    </ion-label>
</ion-content>
