ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;

}
ion-item{
    --padding-bottom: 10px;
}

.background {
    --background: url('/assets/img/palacio.jpg') no-repeat center/cover fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-sistem h2 {
    background-color: #020B25;
    border-radius: 15px;
    color: #FFFF;
}

.logo {
    width: 70%;
}

.welcome h2{
    color: #FFFFFF;
    background-color: #df973a;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}

.correo {
    margin-top: 10px;
    margin-bottom: 10px;
    --background: #333333;
    border-radius: 15px;
    ion-label {
        --color: #FFFF;
    }
    ion-input {
        --color: #FFFF;
    }
}

.login {
    --background: #020B25;
    border-radius: 15px;
}

.password {
    border-radius: 15px;
    --background: #333333;
    ion-label {
        --color: #FFFF;
    }
    ion-input {
        --color: #FFFF;
    }
}

.recuperar-pass a{
    background-color: #333333;;
    color: #FFFFFF;
}