<ion-content [fullscreen]="true" class="background" >
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <img src="assets/img/logo.png" class="logo">
      <div class="title-sys">
        <h2>Sistema de Asistencia Duoc UC</h2>
      </div>
    </ion-label>
  </ion-title>
  <div class="ion-padding-vertical">
    <ion-card-content class="ion-text-center ion-padding-vertical">
 
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2 class="welcome">¡Bienvenido!</h2>
        </ion-label>
        <ion-item class="correo">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario" placeholder="Ingrese su correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.password" placeholder="Ingrese su contraseña"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button class="login" shape="block" (click)="ingresar()">Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-title>
      
      <ion-label>
        <a routerLink="" style="color: #FFFFFF;">Recuperar contraseña</a>
      </ion-label>
    </ion-card-content>
  </div>
  
</ion-content>
