<ion-header class="header">
  <ion-toolbar >
    <ion-title><img class="logo" src="assets/img/logo.png"></ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content [fullscreen]="true" class="background">
  <ion-card id="container" class="filter">
    <ion-header>
      <ion-toolbar>
        <ion-title class="titulo">
          <h1>Sistema de Asistencia DUOC</h1>
        </ion-title>
        <ion-card-subtitle class="subtitulo2">
          <h5>Recuperar contraseña</h5>
        </ion-card-subtitle>
        <ion-card-subtitle class="subtitulo">
          <h5 class="nombre">{{this.pregunta}}</h5>
        </ion-card-subtitle>
        <ion-card-subtitle class="subtitulo">
          <h5>Paso 2: Responde la pregunta secreta</h5>
        </ion-card-subtitle>
        <ion-card-subtitle class="subtitulo">
          <h5 class="nombre"></h5>
        </ion-card-subtitle>
        <ion-item class="input">
          <ion-label position="stacked" class="lab-inp">Respuesta</ion-label>
          <ion-input type="text" [(ngModel)]="this.respuesta" name="respuesta" placeholder="Escribe aquí tu respuesta" class="lab-inp"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button class="boton" shape="block" (click)="validarRespuesta()">Recuperar contraseña</ion-button>
          </ion-col>
        </ion-row>
        <ion-title class="recuperar-pass">
          <a routerLink=""  (click)="iniciarSesion()">Iniciar sesión</a>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-card>
</ion-content>