<ion-header class="header">
  <ion-toolbar >
    <ion-title><img class="logo" src="assets/img/logo.png"></ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content [fullscreen]="true" class="background">
  <ion-card id="container" class="filter">
    <ion-header>
      <ion-toolbar>
        <ion-title class="titulo">
          <h1>Sistema de Asistencia DUOC</h1>
        </ion-title>
        <ion-card-subtitle class="subtitulo2">
          <h5>Recuperar contraseña</h5>
        </ion-card-subtitle>
        <ion-card-subtitle class="logo2">
          <img src="assets/img/incorrecto.png">
        </ion-card-subtitle>
        <ion-card-subtitle class="subtitulo">
          <h5>¡LO SENTIMOS PERO LOS DATOS INGRESADOS NO SON CORRECTOS!</h5>
        </ion-card-subtitle>
        <ion-row>
          <ion-col size="12">
            <ion-button class="boton" shape="block" (click)="iniciarSesion()">Iniciar sesión</ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </ion-card>
</ion-content>
