<ion-header class="header">
  <ion-toolbar >
    <ion-title><img class="logo" src="assets/img/logo.png"></ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment class="segmento" value="pizza" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="inicio" class="titulo-seg">
        <ion-label>inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mi-clase" class="titulo-seg">
        <ion-label>mi clase</ion-label>
      </ion-segment-button>
      <ion-segment-button value="foro" class="titulo-seg">
        <ion-label>Foro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header> 

<ion-content style="--background: transparent;">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
