<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center ion-text ion-margin">
      <ion-icon #icon name="settings-outline"></ion-icon>
       Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal" color="light">
  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center">¡Bienvenido!</h1>
      <h2 style="text-align: center; margin-top: 10px;" *ngIf="usuario">{{usuario.nombre}}</h2>
    </ion-label>
  </ion-title>
  <h6 style="text-align: center; margin-top: 40px;">Lectura de Código QR</h6>
  <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" 
    (change)="verificarArchivoConQR($event.target.files)" />

  <ion-button (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
    <ion-icon slot="start" name="camera"></ion-icon>
    Cargar Imagen con Código QR
  </ion-button>

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <ion-button (click)="limpiarDatos()" expand="block" expand="full" shape="round">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Limpiar datos
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>
  <ion-label>
    <a routerLink="" class="finish">Cerrar sesión</a>
  </ion-label>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      Datos: {{ datosQR }}
      <br><br>
      Escaneando: {{ escaneando }}
      <br>
    </ion-card-content>
  </ion-card>

</ion-content>
